header {
    background: #2d2727;
}

header .contenedor{
    display:grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    padding: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: #888;
    background: #fff url(/assets/search.png) no-repeat 99% 50%;
    background-size: 30px;
}