header {
    background: #2d2727;
}

header .contenedor{
    display:grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    padding: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: #888;
    background: #fff url(/assets/search.png) no-repeat 99% 50%;
    background-size: 30px;
}

@media screen and(max-width:760px){
    header .contenedor{
        grid-template-columns: 100%;
        grid-gap: 10px;
        align-items: center;
        text-align: center;
    }

    svg {
        margin: 0 auto;
    }
}