<div class="modal">
    <div class="fondo-modal" (click)="closeModal()"></div>
    <div class="cont-modal">
        <div class="cerrar-modal" (click)="closeModal()">
            <img src="./../../../../assets/btn-close.png" alt="">
        </div>
        <div class="info-modal">
            <h3>{{comic?.id}}</h3>
            <h3>{{comic?.title}}</h3>
            <p>{{comic?.description}}</p>
            <img style="width: 100px;" [src]="[comic?.thumbnail?.path+ '.' +comic?.thumbnail?.extension]" alt="">
            <div class="agregar" (click)="agregarComic()">
                agregar a favoritos
            </div>
        </div>
    </div>
</div>
