/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 1140px;
    width:92%;
    margin:0 auto;
}

.btn {
    padding: 10px;
    background: #ddd;
    display: inline-block;
    font-size: 12px;
    border: none;
    margin: 0 5px;
    cursor:pointer;
    transition:0.4s all ease;
}

.btn-rojo{
    background: #ec1d24;
    color:#fff
}

.btn-rojo:hover{
    background: #bbb;
    color:#444;
}

.btn:disabled {
    background: #b3b3b3;
}