<main>
    <div class="contenedor">
        <section>
            <div class="characters">
                <div class="list-characters" *ngFor="let personaje of personajes | filtro:page:palabra">
                    <div class="item-charcters">
                        <div class="cont-imagen">
                            <img [src]="[personaje.thumbnail.path+ '.' +personaje.thumbnail.extension]" alt="">
                        </div>
                        <h3>{{personaje.name}}</h3>
                        <p>{{personaje.description | slice:0:100}}</p>
                        <div class="comics">
                            <ul>
                                <li *ngFor="let item of personaje.comics.items" >
                                    <p (click)="abrirModal(item.resourceURI)">{{item.name}}</p>
                                    
                                </li>  
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="paginador">
                    <button (click)="anterior()">< anterior</button>
                    <button (click)="siguiente()">siguiente ></button>
                </div>
            </div>
        </section>
        <aside>
            <app-favoritos></app-favoritos>
        </aside>
    </div>
</main>
<div *ngIf="verModal == true">
    <app-modal [uri]="uri"></app-modal>
</div>
